# Ignore the virtual environment folder
venv/
.venv/
env/

lacunar_stroke_project.iml

# Ignore Python cache files
__pycache__/
*.pyc
.DS_Store
.env
*.log
*.csv
*.h5

# Ignore IntelliJ files
.idea
.idea/
out